.auth-popup {
    width: 200px;
    height: 120px;
    padding: 0 10px;

    .mat-menu-content {
        display: flex;
        height: 100%;
        box-sizing: border-box;

        .line {
            width: 2px;
            height: calc(100% - 40px);
            background: #ccc;
            margin: 20px 0;
        }

        button.mat-menu-item {
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: $border-radius;

            svg {
                width: 30px;
                height: 30px;
            }

            span {
                line-height: 20px;
            }

            &.sign-out {
                color: map-get($map: $btn, $key: "delete");
            }
        }
    }
}

.table-action-btn {
    .mat-menu-item {
        display: flex;
        align-items: center;

        svg {
            width: 20px;
            height: 20px;
            line-height: 0;
            margin-right: 10px;
        }
    }
}

.confirm-dialog {
    .mat-dialog-container {
        padding: 0;
        border-radius: 8px;

        .confirm-wrapper {
            display: flex;
            flex-direction: column;

            .confirm-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 20px 0;
                background: rgba($color: #f00, $alpha: 0.6);

                mat-icon {
                    width: fit-content;
                    height: auto;
                    font-size: 40px;
                    color: #fff;
                }

                svg {
                    width: 40px;
                    height: 40px;
                    color: #fff;
                }
            }

            .confirm-body {
                text-align: center;
                padding: 10px 0;

                h3 {
                    margin: 0;
                    font-size: 20px;
                }

                p {
                    margin: 0;
                    padding: 0 20px;
                    color: $label;
                    margin-top: 10px;
                    font-size: 14px;
                }
            }

            .confirm-footer {
                display: flex;
                justify-content: center;
                padding: 10px 0;
                padding-bottom: 20px;

                button {
                    background: $primary;
                    border-radius: 8px;
                    color: #fff;
                    font-size: 15px;
                    margin: 0 5px;
                    // border       : 2px solid $primary;
                    // @include fontBold();
                    font-weight: 500;
                    padding: 0 25px;

                    &:last-child {
                        background: none;
                        border-color: rgba($color: #000000, $alpha: 0.2);
                        color: rgba($color: #f00, $alpha: 0.6);
                    }
                }
            }
        }
    }
}

.confirm-message {
    width: 350px !important;

    .swal2-icon {
        height: 60px;
        width: 60px;
        font-size: 16px;
        margin: 10px 0;

        .swal2-icon-content {
            font-size: 35px;
        }
    }

    .swal2-content {
        font-size: 16px;

        .swal2-checkbox {
            margin: 5px 0;

            input[type="checkbox"] {
                width: 20px;
                height: 20px;
            }

            .swal2-label {
                margin: 5px 0;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }

    .swal2-actions {
        padding: 0;

        button {
            height: 40px;
            font-size: 16px;
            line-height: normal;

            &.swal2-confirm {
                display: flex !important;
            }

            &.swal2-cancel {
                display: flex !important;
                background: none;
                color: map-get($map: $btn, $key: "delete");
            }
        }
    }
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    align-items: center;
    justify-content: center;

    .dialog-container {
        background: #fff;
        width: fit-content;
        height: fit-content;
        padding: 25px;
        border-radius: $border-radius;
        max-height: 95vh;
        overflow: auto;

        .dialog-form {
            display: flex;
            flex-direction: column;

            .dialog-form-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                h3 {
                    margin: 0;
                    line-height: normal;
                }

                svg {
                    width: 40px;
                    height: 40px;
                    color: #fff;
                }
            }

            .dialog-form-body {
                padding: 15px 0;

                .form-row {
                    margin-bottom: 18px;
                    line-height: 0;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    &.no-label {
                        margin: 0;
                    }

                    & * {
                        line-height: normal;
                    }

                    label {
                        text-align: right;
                        float: left;
                        font-size: 14px;
                        color: #5a5e66;
                        padding: 0 12px 0 0;
                        box-sizing: border-box;
                        margin-bottom: 5px;

                        span {
                            color: #fa5555;
                            margin-left: 4px;
                        }
                    }

                    .error {
                        color: #ff9d9d;
                        font-size: 12px;
                        line-height: 1;
                        padding-top: 4px;
                        position: absolute;
                        top: 100%;
                        left: 0;
                    }

                    > input,
                    select {
                        background-color: #fff;
                        border-radius: 4px;
                        border: 1px solid #d8dce5;
                        box-sizing: border-box;
                        color: #5a5e66;
                        display: inline-block;
                        font-size: 14px;
                        height: 40px;
                        line-height: 1;
                        outline: 0;
                        padding: 0 15px;
                        transition: border-color 0.2s
                            cubic-bezier(0.645, 0.045, 0.355, 1);
                        width: 100%;

                        &::placeholder {
                            color: #b7bac1;
                        }

                        &.required {
                            border-color: #fa5555;
                        }
                    }

                    .form-select-file {
                        background-color: #fff;
                        border: 1px dashed #d9d9d9;
                        border-radius: 6px;
                        box-sizing: border-box;
                        width: 100%;
                        height: 100px;
                        text-align: center;
                        position: relative;
                        // overflow        : hidden;
                        cursor: pointer;
                        transition: 0.2s;
                        position: relative;
                        display: inline-block;

                        input {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            cursor: pointer;
                            opacity: 0;
                        }

                        .select-file {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            .icon {
                                margin-bottom: 5px;
                                line-height: 0;

                                svg {
                                    width: 40px;
                                    height: 40px;
                                    line-height: 0;
                                    color: #b4bccc;
                                    transition: 0.2s;
                                }
                            }

                            .title {
                                color: #5a5e66;
                                font-size: 14px;
                                text-align: center;
                                transition: 0.2s;
                            }
                        }
                    }
                }

                .file-upload-list {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                    padding: 10px 0;

                    .file-upload-item {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        border-radius: 5px;
                        border: 1px solid $border;

                        .file-upload-item-header {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            padding-bottom: 10px;
                            box-sizing: border-box;

                            .item-thumbnail {
                                width: 40px;
                                min-width: 40px;
                                height: 40px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .file-upload-item-title {
                                flex: auto;
                                font-size: 14px;
                                color: $dark;

                                span {
                                    word-break: break-all;
                                    @include subString(2);
                                }
                            }

                            .action-item {
                                display: flex;
                                justify-content: flex-end;
                                gap: 10px;

                                button {
                                    min-width: unset;
                                    padding: 5px;
                                    background: unset;
                                    border: 1px solid
                                        rgba($color: $primary, $alpha: 0.2);
                                    color: rgba($color: $primary, $alpha: 1);

                                    svg {
                                        width: 18px;
                                        height: 18px;
                                    }

                                    &.cancel {
                                        background: unset;
                                        border: 1px solid
                                            rgba($color: $danger, $alpha: 0.2);
                                        color: rgba($color: $danger, $alpha: 1);
                                    }
                                }
                            }
                        }

                        .file-upload-item-body {
                            .item-progress-bar {
                                height: 5px;
                                background: rgba($success, 0.5);

                                &.pause {
                                    background: rgba($warning, 0.5);
                                }

                                &.error {
                                    background: rgba($danger, 0.5);
                                }
                            }
                        }
                    }
                }

                .form-check {
                    .form-check-input[type="checkbox"] {
                        margin-right: unset;
                    }

                    label {
                        text-align: left;
                        font-size: 14px;
                    }
                }

                p {
                    color: $dark;
                    margin: 0;
                    padding: 0 5px;
                    box-sizing: border-box;
                    font-size: 14px;
                }
            }

            .dialog-form-footer {
                display: flex;
                justify-content: flex-end;

                button {
                    background: $primary;
                    border-radius: $border-radius;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 0 15px;

                    &.close {
                        background: none;
                        border-color: rgba($color: #000000, $alpha: 0.2);
                        color: rgba($color: #f00, $alpha: 0.8);
                    }

                    .loader {
                        margin-left: 5px;
                        font-size: 10px;
                        text-indent: -9999em;
                        width: 2.5em;
                        height: 2.5em;
                        border-radius: 50%;
                        background: #ffffff;
                        background: -moz-linear-gradient(
                            left,
                            #ffffff 10%,
                            rgba(255, 255, 255, 0) 42%
                        );
                        background: -webkit-linear-gradient(
                            left,
                            #ffffff 10%,
                            rgba(255, 255, 255, 0) 42%
                        );
                        background: -o-linear-gradient(
                            left,
                            #ffffff 10%,
                            rgba(255, 255, 255, 0) 42%
                        );
                        background: -ms-linear-gradient(
                            left,
                            #ffffff 10%,
                            rgba(255, 255, 255, 0) 42%
                        );
                        background: linear-gradient(
                            to right,
                            #ffffff 10%,
                            rgba(255, 255, 255, 0) 42%
                        );
                        position: relative;
                        -webkit-animation: load3 1s infinite linear;
                        animation: load3 1s infinite linear;
                        -webkit-transform: translateZ(0);
                        -ms-transform: translateZ(0);
                        transform: translateZ(0);
                    }

                    .loader:before {
                        width: 50%;
                        height: 50%;
                        background: #fff;
                        border-radius: 100% 0 0 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: "";
                    }

                    .loader:after {
                        background: rgb(224 224 224) !important;
                        width: 75%;
                        height: 75%;
                        border-radius: 50%;
                        content: "";
                        margin: auto;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                    }

                    @-webkit-keyframes load3 {
                        0% {
                            -webkit-transform: rotate(0deg);
                            transform: rotate(0deg);
                        }

                        100% {
                            -webkit-transform: rotate(360deg);
                            transform: rotate(360deg);
                        }
                    }

                    @keyframes load3 {
                        0% {
                            -webkit-transform: rotate(0deg);
                            transform: rotate(0deg);
                        }

                        100% {
                            -webkit-transform: rotate(360deg);
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }
    }
}

.popup-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: 0.7);
    display: none;

    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #00386e;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        position: fixed; /* or absolute */
        top: 45%;
        left: 50%;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
