/* @font-face {
    font-family: Poppins;
    src        : url('../../../public/admin-public/fonts/OpenSans-Regular.ttf');
}
* {
    font-family: 'Poppins', sans-serif, 'Urbanist', sans-serif, 'Hanuman', serif !important;
} */
