#mapLocation {
    height       : 350px !important;
    border-radius: 5px;
    border       : 1px dashed #d9d9d9 !important;
    width        : 100%;
    padding      : 0;
    margin       : 0;
}

div {
    button {
        &.gm-control-active {
            max-width: 100% !important;
            width    : 100% !important;
            min-width: 100% !important;
        }

        &.gm-fullscreen-control {
            max-width: 40px !important;
            width    : 40px !important;
            min-width: 40px !important;
        }
    }
}

.gm-style-mtc button {
    margin-right: 10px !important;
}
